body { background-color: white; }
h1 { color: red; font-size: 32px; }
.principal { color: green; }
#titulo { color: blue; }
.descripcion { color: gray; font-size: 18px; }
#oculto { display: none; }
button { color: white; background-color: blue; font-size: 16px; }
